/**----------------------------------------------------------------------**/
/* DEFINICION DE ESTILOS PARA COMPLEMENTOS DE DISENIO                    **/
/* ESTILO DE PESTANIAS                                                   **/
/**----------------------------------------------------------------------**/

/*****----MENU----*****/
#iMenuTab {
	float: left;
	text-align: center;

}

#iMenuTab .menu ul{
	display:none;
}

#iMenuTab .menu li:hover>ul{
	display:block;
}

#iMenuTab .menu ul{
	position: absolute;
	left:-1px;
	top:98%;
}

#iMenuTab .menu ul ul{
	position: absolute;
	left:98%;
	top:-2px;
}

#iMenuTab .menu,
#iMenuTab .menu ul {
	margin:0px;
	list-style:none;
	padding:0px 1px 1px 0px;
	background-color:#A5A5A5;
	background-repeat:repeat;
	border-color:#A6A6A6;
	border-width:0px;
	border-style:solid;
}

#iMenuTab .menu table {
	border-collapse:collapse
}

#iMenuTab .menu {
	display:block;
	zoom:1;
	float: left;
}

#iMenuTab .menu ul{
	width:160px;
}

#iMenuTab .menu li{
	display:block;
	width:160px;
	margin:1px 0px 0px 1px;
	font-size:0px;
}

#iMenuTab .menu a:active,
#iMenuTab .menu a:focus {
	outline-style:none;
}

#iMenuTab .menu a,
#iMenuTab .menu li.dis a:hover,
#iMenuTab .menu li.sep a:hover {
	display:block;
	vertical-align:middle;
	background-color:#FFFFFF;
	border-width:0px;
	border-color:#FCEEB0;
	border-style:solid;
	text-align:left;
	text-decoration:none;
	padding:5px;
	_padding-left:0;
	font:bold 12px Arial;
	color: #000000;
	text-decoration:none;
	cursor:pointer;
}

#iMenuTab .menu span{
	overflow:hidden;
}

#iMenuTab .menu li {
	float:left;
}

#iMenuTab .menu ul li {
	float:none;
}

#iMenuTab .menu ul a {
	text-align:left;
	white-space:nowrap;
}

#iMenuTab .menu li.sep{
	text-align:left;
	padding:0px;
	line-height:0;
	height:100%;
}

#iMenuTab .menu li.sep span{
	float:none;
	padding-right:0;
	width:3;
	height:100%;
	display:inline-block;
	background-color:#A6A6A6;
	background-image:none;
}

#iMenuTab .menu ul li.sep span{
	width:100%;
	height:3;
}

#iMenuTab .menu li:hover{
	position:relative;
}

#iMenuTab .menu li:hover>a{
	border-color:#4C99AB;
	border-style:solid;
	font:bold 12px Arial;
	color: #101055;
	text-decoration:none;
}

#iMenuTab .menu li a:hover{
	position:relative;
	background-color:#475063;
	border-color:#4C99AB;
	border-style:solid;
	font:bold 12px Arial;
	color: #FFFFFF;
	text-decoration:none;
}

#iMenuTab .menu li.dis a {
	color: #AAAAAA !important;
}

#iMenuTab .menu img {
	border: none;
	float:left;
	_float:none;
	margin-right:5px;
	width:16px;
	height:16px;
}
#iMenuTab .menu ul img {
	width:16px;
	height:16px;
}

#iMenuTab .menu img.over{
	display:none
}

#iMenuTab .menu li.dis a:hover img.over{
	display:none !important
}

#iMenuTab .menu li.dis a:hover img.def {display:inline !important}
#iMenuTab .menu li:hover > a img.def  {display:none}
#iMenuTab .menu li:hover > a img.over {display:inline}

#iMenuTab .menu a:hover img.over,
#iMenuTab .menu a:hover ul img.def,
#iMenuTab .menu a:hover a:hover ul img.def,
#iMenuTab .menu a:hover a:hover a:hover ul img.def,
#iMenuTab .menu a:hover a:hover img.over,
#iMenuTab .menu a:hover a:hover a:hover img.over,
#iMenuTab .menu a:hover a:hover a:hover a:hover img.over{
	display:inline
}

#iMenuTab .menu a:hover img.def,
#iMenuTab .menu a:hover ul img.over,
#iMenuTab .menu a:hover a:hover ul img.over,
#iMenuTab .menu a:hover a:hover a:hover ul img.over,
#iMenuTab .menu a:hover a:hover img.def,
#iMenuTab .menu a:hover a:hover a:hover img.def,
#iMenuTab .menu a:hover a:hover a:hover a:hover img.def{
	display:none
}
#iMenuTab .menu a:hover ul,
#iMenuTab .menu a:hover a:hover ul,
#iMenuTab .menu a:hover a:hover a:hover ul{
	display:block
}

#iMenuTab .menu a:hover ul ul,
#iMenuTab .menu a:hover a:hover ul ul{
	display:none
}

#iMenuTab .menu span{
	display:block;
	background-image:url(../../../include/images/menu/html/blue-down.gif);
	background-position:right center;
	background-repeat: no-repeat;
   	padding-right:8px;
}

#iMenuTab .menu li:hover>a>span{
	background-image:url(../../../include/images/menu/html/white-down.gif);
}

#iMenuTab .menu a:hover span{
	_background-image:url(../../../include/images/menu/html/white-down.gif)
}

#iMenuTab .menu ul span,
#iMenuTab .menu a:hover table span{
	background-image:url(../../../include/images/menu/html/blue-right.gif)
}
#iMenuTab .menu ul li:hover > a span{
	background-image:url(../../../include/images/menu/html/white-right.gif);
}

#iMenuTab .menu table a:hover span,
#iMenuTab .menu table a:hover a:hover span,
#iMenuTab .menu table a:hover a:hover a:hover span{
	background-image:url(../../../include/images/menu/html/white-right.gif)
}
#iMenuTab .menu table a:hover table span,
#iMenuTab .menu table a:hover a:hover table span{
	background-image:url(../../../include/images/menu/html/blue-right.gif)
}

#iMenuTab .menu li a.menu-item{
	font:n;
}

#iMenuTab .menu li a.menu-item:hover{
	font:o;
}

#iMenuTab a {
	background: white url(../../../include/images/menu/html/shade.gif) top left repeat-x;
}

#iMenuTab a:hover {
	background: white url(../../../include/images/menu/html/shadeDark.gif) top left repeat-x;
}