/**----------------------------------------------------------------------**/
/*               ESTILOS PARA MEDIOS MOVILES                              */
/**----------------------------------------------------------------------**/

body{
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

#logo{
	background: url(../../include/images/wap_logo_login.jpg) no-repeat center;
	background-color: #000064;
	height: 50px;
	width: 90%;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5px;
}

#footer{
	text-align: left;
	color: #000000;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	vertical-align: middle;
}

#banner{
	text-align: center;
	padding-top: 5px;
	color: #FFFFFF;
	background-color: #000064;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-bottom: 5px;
	background: url(../../../include/images/design/bg_fallback.png) 0 -50px repeat-x;
}

#banner p{
	text-align: left;
}

#banner a{
	float: right;
	text-align: right;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	padding-left: 10px;
	padding-right: 10px;
}

#banner a:hover {
	color: #edd114;
}

#loader{
	background: url(../../include/images/loading.gif) no-repeat center;
	height: 20px;
	width: 40%;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
}

#logout{
	text-align: left;
	color: #000000;
	text-decoration: none;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	margin-bottom: 5px;
}

.ui-gradient{
	background: url(../../../include/images/design/bg_fallback.png) 0 0 repeat-x;
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(237,237,237)),
		color-stop(0, rgb(196,196,196))
	);
	background: -moz-linear-gradient(
		center top,
		rgb(237,237,237),
		rgb(196,196,196)
	);
}

.ui-corner-all { 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
}


/**----------------------------------------------------------------------**/
/*                            LOGIN                                       */
/**----------------------------------------------------------------------**/

.ui-body-login{
	background-color: #75778E;
}

#login{
	margin: 0 auto;
	width: 320px;
	height: 400px;
	text-align: center;
	/*margin-bottom: 5px;*/
	background-image: url(../../../include/images/design/loginwap.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	/*border: 1px solid #FFFFFF;*/
}

#login .ui-background{
	margin-top: 0;
	margin-bottom: 0;
	padding: 0px;
	width: 300px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

#login .ui-background td > table{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5px;
}

#login .ui-fields{
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	color: #003399;
}

#login .ui-fields td{
	text-align: left;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0;
}

#login .ui-fields .ui-label{
	text-align: right;
	color: #101055;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}

#login input[type=text]{
	background-color: #D4D4DE;
	width: 150px;
}

#login input[type=password]{
	background-color: #D4D4DE;
	width: 150px;
}


#login input[type=submit]{
	color: #000064;
	/*padding: 0 .5em 0 0;*/
	border: solid 1px #5A5EAA;
	font-weight: bold;
	font-size: 10px;
	min-height: 21px;
	text-align: center;
	vertical-align: middle;
	text-shadow: aqua;
	/*padding-bottom: 4px;
	padding-left: 4px;*/
}

#login .ui-main-frame{
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0px;
	width: 300px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

#login .ui-main-frame td > table{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5px;
}

#login .ui-frame{
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	color: #003399;
	border: 1px solid #CCCCCC;
}

#login .ui-frame td{
	text-align: left;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0;
}

#login .ui-frame .ui-label-frame{
	text-align: left;
	color: #101055;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}

/**-----------------------BORDES------------------------**/
#login b.ui-round-top {
	display: block;
	background: #FFF;
}

#login b.ui-round-bottom {
	display: block;
	background: #FFF;
}

#login b.ui-round-top b {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #cc0000;
}

#login b.ui-round-bottom b {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #cc0000;
}

#login b.ui-line-one {
	margin: 0 5px;
}

#login b.ui-line-two {
	margin: 0 3px;
}

#login b.ui-line-three {
	margin: 0 2px;
}

#login b.ui-round-top b.ui-line-four {
	margin: 0 1px;
	height: 2px;
}

#login b.ui-round-bottom b.ui-line-four {
	margin: 0 1px;
	height: 2px;
}


/**-----------------------------------------------------------------------**/
/*           DEFINICION DE ESTILOS PARA LISTADO DE DATOS                   */
/**-----------------------------------------------------------------------**/
#iListing{
	margin-bottom: 5px;
}

#iListing table {
	border: 1px solid #CCCCCC;
	width: 100%;
}

#iListing tr:hover {
	background: #919ebf;
}

#iListing td {
	border-bottom: 1px solid #43506B;
}

#iListing p{
	text-align: left;
	color: #000000;
	text-decoration: none;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	margin-top: 0px;
	margin-bottom: 0px;
}

#iListing a{
	color: #26314e;
	text-decoration: none;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	padding-left: 10px;
	padding-right: 10px;
	
}

#iListing a:hover {
	color: #FFFFFF;
	height: 16px;
	cursor: pointer;
}


#iListing .ui-odd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	background-color: #BEC2F6;
}

#iListing .ui-even {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	background-color: #E1E1FF;
}

#iListing .ui-selected {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	background-color: #000066;
	color: #FFFFFF;
}

#iListing a.ui-choose-search:hover {
	background-image: url(../../../include/images/action/check.png);
}

/**-----------------------------------------------------------------------**/
/*           DEFINICION DE ESTILOS PARA ACCIONES                           */
/**-----------------------------------------------------------------------**/
.ui-button{
	display: inline-block;
	display: inline;
	vertical-align: baseline;
	margin: 0 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px Arial;
	font-weight: bold;
	padding: .5em 1em .55em;
}


.ui-rounded{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}

.ui-button-color{
	color: #000000;
	border: solid 1px #AAAAAA;
	background: url(../../../include/images/design/bg_fallback.png) 0 0 repeat-x;
}

.ui-button-color:hover{
	color: #777777;
	border: solid 1px #000077;
	background: url(../../../include/images/design/bg_fallback.png) 0 -50px repeat-x;
	
}

.ui-button-color:active{
	color: #000000;
}

.ui-button-no-color{
	color: #FFFFFF;
	border: solid 1px #AEAEAE;
	background: #DEDEDE;
}

.ui-add{}

.ui-edit{}

.ui-view{}

.ui-delete{}

.ui-filter{}

.ui-detail{}

.ui-choose-search{
	cursor: pointer;
}

.ui-next{
	text-align: left;
}

.ui-previous{
	text-align: right;
}

.ui-lov{
	height: 20px;
	width: 25px;
	background-image: url(../../../include/images/action/lov.png);
	background-position: center;
	background-repeat: no-repeat;
}

.ui-calendar{
	height: 25px;
	width: 25px;
	background-image: url(../../../include/images/action/calendar-c.png);
	background-position: center;
	background-repeat: no-repeat;
}

/**-------------------------------- ACCIONES ------------------------**/
#breadcrumb{
	text-align: left;
	vertical-align: middle;
	color: #000000;
	border-bottom: 1px solid #000064;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	width: 100%;
	height: 25px;
	margin-bottom: 5px;
	line-height: 25px;
}

#breadcrumb-detail{
	text-align: left;
	vertical-align: middle;
	color: #000000;
	border-bottom: 1px solid #000064;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	width: 100%;
	height: 50px;
	margin-bottom: 5px;
	line-height: 50px;
	padding: 0;
}

#breadcrumb-detail a{
	cursor: pointer;
	color: #2A2E83;
	text-decoration: none;
}

#breadcrumb-detail a:hover{
	font-size: 11px;
	border-bottom: 1px dotted #2d2b2b;
}

#breadcrumb-detail p{
	display: inline;
	line-height: 15px;
	text-decoration: none;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}

#action-bar{
	text-align: left;
	margin-bottom: 5px;
}

#action-bar .input-old{
	color: #000064;
	padding: 0 .5em 0 0;
	border-style: outset;
	boder-color: #5A5EAA;
	font-weight: bold;
	font-size: 10px;
	min-height: 22px;
	text-align: center;
	vertical-align: middle;
	text-shadow: aqua;
	padding-bottom: 4px;
	padding-left: 4px;
}

#action-register{
	text-align: right;
	margin-top: 1em;
}

#navigation-bar{
	width: 100%;
	margin-bottom: 5px;
}

#navigation-bar table{
	width: 100%;
	text-align: center;
}


#action-return{
	margin-bottom: 5px;
}

#action-none{
	margin-bottom: 5px;
}

#navigation-bar .input-old{
	color: #000064;
	padding: 0 .5em 0 0;
	border-style: outset;
	boder-color: #5A5EAA;
	font-weight: bold;
	font-size: 10px;
	min-height: 22px;
	text-align: center;
	vertical-align: middle;
	text-shadow: aqua;
	padding-bottom: 4px;
	padding-left: 4px;
}

#action-none .input{
	color: #000064;
	padding: 0 .5em 0 0;
	border-style: outset;
	boder-color: #5A5EAA;
	font-weight: bold;
	font-size: 10px;
	min-height: 22px;
	text-align: center;
	vertical-align: middle;
	text-shadow: aqua;
	padding-bottom: 4px;
	padding-left: 4px;
}

#action-do .input{
	color: #000064;
	padding: 0 .5em 0 0;
	border-style: outset;
	boder-color: #5A5EAA;
	font-weight: bold;
	font-size: 10px;
	min-height: 22px;
	text-align: center;
	vertical-align: middle;
	text-shadow: aqua;
	padding-bottom: 4px;
	padding-left: 4px;
}

#action-return .input{
	color: #000064;
	padding: 0 .5em 0 0;
	border-style: outset;
	boder-color: #5A5EAA;
	font-weight: bold;
	font-size: 10px;
	min-height: 22px;
	text-align: center;
	vertical-align: middle;
	text-shadow: aqua;
	padding-bottom: 4px;
	padding-left: 4px;
}

#action-search .input{
	color: #000064;
	padding: 0 .5em 0 0;
	border-style: outset;
	boder-color: #5A5EAA;
	font-weight: bold;
	font-size: 10px;
	min-height: 22px;
	text-align: center;
	vertical-align: middle;
	text-shadow: aqua;
	padding-bottom: 4px;
	padding-left: 4px;
}

/**-----------------------------------------------------------------------**/
/*         DEFINICION DE ESTILOS PARA MANIPULACION DE DATOS                */
/**-----------------------------------------------------------------------**/
#iData {
	text-align: center;
	margin-bottom: 5px;
}

#iLov {
	font-size: 11px;
	color: #2A2E83;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-transform: capitalize;
	text-decoration: none;
}

#iData table {
	border: 1px solid #CCCCCC;
	text-align: left;
	width: 100%;
}

#iData table {
	text-align: center;
	border: 0px;
	padding: 1px;

}

#iData table table {
	width: 100%;
	border: 1px solid #888888;
	font-size: 12px;
	font-family: Arial;
	background-color: #EAEAED;
}

#iData a {
	display: inline-block;
	color: #000000;
	text-decoration: none;
	vertical-align: text-bottom;
}

#iData a:hover {
	cursor: pointer;
}


#iData .ui-label {
	text-align: left;
	vertical-align: middle;
	font-size: 11px;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-transform: capitalize;
	text-decoration: none;
}

#iData input[type=text]{
	text-align: left;
	border: 1px #2A2E83 solid;
	vertical-align: middle;
	text-transform: capitalize;
	text-decoration: none;
}

#iData input:focus{
	background-color: #FFFFCC;
}

#iData textarea {
	text-align: left;
	border: 1px #2A2E83 solid;
	vertical-align: middle;
}

#iData table table td {
	text-align: left;
}

#iData .ui-vbox {
	text-align: left;
	color: #666666;
	font-size: 10px;
	font-weight: normal;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color:#CCCCCC #CCCCCC #CCCCCC #CCCCCC;
	background-color: #FFFFFF;
}


#iData .ui-read{
	text-align: left;
}

#iData .ui-read input{
	text-align: left;
    color: #666666;
    font-size: 10px; 
    font-weight: normal;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color:#CCCCCC #CCCCCC #CCCCCC #CCCCCC;
    background-color: #FFFFFF;
}

#iData input[type=button] {
	background: #B0B0FF;
	color: #FFFFFF;
	border: 1px #5A5EAA solid;
	font-weight: bold;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
	text-shadow: aqua;

}

#iData input[type=submit] {
	color: #000064;
	padding: 0 .5em 0 0;
	border-style: outset;
	boder-color: #5A5EAA;
	font-weight: bold;
	font-size: 10px;
	min-height: 20px;
	text-align: center;
	vertical-align: middle;
	text-shadow: aqua;
	padding-bottom: 4px;
	padding-left: 4px;
}

#iData .ui-fieldset {
	text-align: left;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}

#iData ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#iData li {
	text-align: left;
	color: #FF0000;
	font-weight: bold;
	font-size: 10px;
}


/**----------------------------------------------------------------------**/
	/* DEFINICION DE ESTILOS PARA MENSAJES DE ERROR
/**----------------------------------------------------------------------**/
#iError {
	margin: 0;
	background: #cc0000;
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
}



#iError b.ui-round-top {
	display: block;
	background: #FFF;
}

#iError b.ui-round-bottom {
	display: block;
	background: #FFF;
}

#iError b.ui-round-top b {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #cc0000;
}

#iError b.ui-round-bottom b {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #cc0000;
}

#iError b.ui-line-one {
	margin: 0 5px;
}

#iError b.ui-line-two {
	margin: 0 3px;
}

#iError b.ui-line-three {
	margin: 0 2px;
}

#iError b.ui-round-top b.ui-line-four {
	margin: 0 1px;
	height: 2px;
}

#iError b.ui-round-bottom b.ui-line-four {
	margin: 0 1px;
	height: 2px;
}

#iError td{
	text-align: left;
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
}

#iError ol{
	padding-left: 15px;
	padding-right: 15px;
	margin: 0;
}

#iError li{
	text-align: justify;
	vertical-align: middle;
}

/**----------------------------------------------------------------------**/
	/* DEFINICION DE ESTILOS PARA MENSAJES DE AYUDA PARA EL USUARIO
/**----------------------------------------------------------------------**/
#iHelp {
	margin: 0;
	background: #ffffcc;
	width: 90%;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

#iHelp b.ui-round-top {
	display: block;
	background: #FFF;
}

#iHelp b.ui-round-bottom {
	display: block;
	background: #FFF;
}

#iHelp b.ui-round-top b {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #ffffcc;
}

#iHelp b.ui-round-bottom b {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #ffffcc;
}

#iHelp b.ui-line-one {
	margin: 0 5px;
}

#iHelp b.ui-line-two {
	margin: 0 3px;
}

#iHelp b.ui-line-three {
	margin: 0 2px;
}

#iHelp b.ui-round-top b.ui-line-four {
	margin: 0 1px;
	height: 2px;
}

#iHelp b.ui-round-bottom b.ui-line-four {
	margin: 0 1px;
	height: 2px;
}

#iHelp td{
	text-align: left;
	color: #AE5901;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 20px;
}

/**----------------------------------------------------------------------**/
	/* DEFINICION DE ESTILOS PARA MENSAJES DE ADVERTENCIA
/**----------------------------------------------------------------------**/
#iWarning {
	margin: 0;
	background: #ffffcc;
	width: 90%;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5px;
}

#iWarning b.ui-round-top {
	display: block;
	background: #FFF;
}

#iWarning b.ui-round-bottom {
	display: block;
	background: #FFF;
}

#iWarning b.ui-round-top b {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #ffffcc;
}

#iWarning b.ui-round-bottom b {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #ffffcc;
}

#iWarning b.ui-line-one {
	margin: 0 5px;
}

#iWarning b.ui-line-two {
	margin: 0 3px;
}

#iWarning b.ui-line-three {
	margin: 0 2px;
}

#iWarning b.ui-round-top b.ui-line-four {
	margin: 0 1px;
	height: 2px;
}

#iWarning b.ui-round-bottom b.ui-line-four {
	margin: 0 1px;
	height: 2px;
}

#iWarning td{
	text-align: left;
	color: #AE5901;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
}

/**----------------------------------------------------------------------**/
/* 			DEFINICION DE ESTILOS PARA MENSAJES DE EXITO				  */
/**----------------------------------------------------------------------**/
#iSuccess {
	margin: 0;
	background: #DEDEDE;
	width: 90%;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5px;
}

#iSuccess b.ui-round-top {
	display: block;
	background: #FFF;
}

#iSuccess b.ui-round-bottom {
	display: block;
	background: #FFF;
}

#iSuccess b.ui-round-top b {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #DEDEDE;
}

#iSuccess b.ui-round-bottom b {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #DEDEDE;
}

#iSuccess b.ui-line-one {
	margin: 0 5px;
}

#iSuccess b.ui-line-two {
	margin: 0 3px;
}

#iSuccess b.ui-line-three {
	margin: 0 2px;
}

#iSuccess b.ui-round-top b.ui-line-four {
	margin: 0 1px;
	height: 2px;
}

#iSuccess b.ui-round-bottom b.ui-line-four {
	margin: 0 1px;
	height: 2px;
}

#iSuccess td{
	text-align: left;
	color: #4E4E4E;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
}

/**------------------- INFORMACION DE URL DE MAESTRO -------------------**/
#iHeader {
	text-align: center;
	margin-bottom: 5px;
}

#iHeader table{
	border: 1px solid #CCCCCC;
	text-align: left;
	width: 100%;
}


#iHeader table td {
	font-size: 11px;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	border-bottom: 1px dotted #666666;
	height: 25px;
	text-align: left;
	padding-left: 5px;
}

#iHeader a {
	font-size: 11px;
	color: #2A2E83;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-transform: capitalize;
	text-decoration: none;
}

/**----------------------------------------------------------------------**/
/* 			DEFINICION DE ESTILOS PARA VINIETAS				              */
/**----------------------------------------------------------------------**/
#iTab{
	margin-bottom: 5px;
}

#iTab span{
	margin-bottom: 5px;
	font: bold 12px Verdana;
	color: #2d2b2b;
	margin-left: 3%;
	border-bottom: 1px dotted #2d2b2b;
}

#iTab ul{
	padding: 3px 0;
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0;
	font: bold 11px Verdana;
	list-style-type: none;
	text-align: left;
}

#iTab li{
    border: 0px solid #778;
	width: 94%;
	height: 22px;
	line-height: 22px;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 0px;
	background: white url(../../../include/images/design/tabs/wap/shade.gif) top left repeat-x;
	/*background: url(../../../include/images/design/wap_menu_background.png) -10px 0px repeat-x;*/
}

#iTab li a{
	vertical-align: middle;
	text-decoration: none;
	padding-top: 3px;
	padding-left: 3px;
	color: #2d2b2b;
	width: 100%;
}

#iTab li a:visited{
	color: #2d2b2b;
}

#iTab li a:hover{
	text-decoration: underline;
	color: #2d2b2b;
}

#iTab li a.selected{ 
	top: 1px;
}

#iTab li a.selected{
	background-image: url(../../../include/images/design/tabs/html/shadeactive.gif);
	border-bottom-color: white;
}

#iTab li a.selected:hover{ 
	text-decoration: none;
}

#iTabline{
	border-bottom:0px; 
	border-left:0px; 
	border-right: 0px; 
	border-top: 1px; 
	border-top-color: gray; 
	border-top-style: solid; 
	width:90%; 
	margin-bottom: 1em; 
	padding: 10px
}