/**----------------------------------------------------------------------**/
	/* DEFINICION DE ESTILOS PARA CAMPO DE AUTOCOMPLETE
/**----------------------------------------------------------------------**/
.ac_loading {
    background: url("../../../include/images/loader4.gif") no-repeat scroll right center #FFF;
}

.ac_loading_label {
    background: url("../../../include/images/loader2.gif") no-repeat scroll right center;
}
.ac_loading_label_big {
    background: url("../../../include/images/loader4.gif") no-repeat scroll right center;
}