h1, h2, h3, a, li, ul{ margin:0; padding:0; outline:0;}
body{font-family:Tahoma, Verdana, Arial; font-size:10px; background: url("../../images/bg.png") repeat-x top left #ffffff; margin:0; padding:0;}
img, div { behavior: url(iepngfix.htc) }


div#header{height:122px; width:100%; background: url("../../images/bgheader.png") repeat-x bottom left transparent;}

div#header div#header-content{height:122px; width:642px; margin:0 auto;}
div#logo{float:left}
div#logo a{}
div#logo img{border:0; margin:20px 10px 0px 10px;}
div#logo-mined{float:right}
div#logo-mined a{}
div#logo-mined img{border:0; margin:15px 0px 0px 10px;}

div#body{height:560px; width:780px; margin:0px auto; background: url("../../images/bgbody.png") no-repeat top center transparent;}

div.clr{clear:both;}
div#welcome{height:50px;}
div#form-container{width:558px; margin:0 auto; height:315px; background:url("../../images/form.png") no-repeat top center transparent;}
div#logo-pna{float:left}
div#logo-pna img{margin:30px 20px; border:0;}
div#form{float:left; width:250px; height:285px;}
div#form form{width:100%;}
div#form-i{width:206px; margin:0 auto;}
div#form-i p{font-size:1.1em;}
div#form-i p.plogin{color:#971924; margin:40px 10px 20px 10px;}
div#form-i p.login{color:#000000; margin:5px 15px;}
div.txt{background:url("../../images/inputtext.png") no-repeat top center; width:206px; border:none; height:38px; padding:5px 10px 10px 10px}
div.txt input{height:25px; width:190px; margin:0px 10px 13px; border:none; background:transparent; padding:0px}
div.bttn{text-align:right;}
div.bttn input{padding:7px 10px; background:url("../../images/inputsubmit.png") no-repeat left top transparent; border:none; color:#ffffff; font-size:1.1em; cursor:pointer;}
